/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24-Mar-2019, 1:57:14 PM
    Author     : Joel
*/

@charset "UTF-8";

html, body {
    font: 15px Calibri, Verdana;
    background: #49547a;
    margin: 0;
   /* padding: 0;*/
    height: 100%;
}

.container {
   /* width: 1000px; */
   /*margin: 0 auto -50px;*/
   min-height: 100%;
}

.content{
    padding: 20px;
    padding-bottom: 50px;
    padding-top: 100px;
    display: block;
    margin: auto;
}

.content * {
    text-align: center;
    color: #ffffff;
    display: block;
    margin: auto;
    padding: 5px;
}

.banner {
    background: #49547a;
    display: grid;
    height: 100%;
}

.push{
    height: 50px;
}

.bannerImg {
    max-width: 100%;
    max-height: vh;
    margin: auto;
}

a img { /* remove the annoying blue border around image links */
    border: none;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    /*color: */
}

li-span {
    /*color: */
}

.links {
    margin: auto;
    width: 50%;
}

.links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.links li {
    float: left; /* display the links as a horizontal bar */
    margin: 0;
    padding-right: 3px;
}

.links a { /* create boxes for the links and center their text within them */
    text-decoration: none;
    display: block;
    background: #384263;
    padding: 0.24em 1em;
    color: #d3738f;
    width: 8em;
    height: 3em;
    text-align: center;
    line-height: 3em;
}

.links a:hover {
    background: #465071;
}

.links #selected a {
    position: relative;
    background: #506085;
    color: #e28ba5;
    font-weight: bold;
}

.footer {
    height: 50px;
    margin-top: -50px;
    float: right;
    padding-right: 30px;
}

.footer a {
    text-decoration: none;
    padding-right: 10px;
}

.gameCase {
    color: #ffffff;
    padding: 30px;
}

.gameCase a {
    color: #ffffff;
}

.gameCase a:hover {
    color: #e5e5e4;
}

.gameCase ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.gameCase li {
    float: left;
    margin: 0;
    padding-right: 10px;
}

.title {
    padding-bottom: 10px;
}

.purchaseBtn {
    border-radius: 12px;
    padding: 10px;
    background-color: #d3738f;
}

.purchaseBtn:hover {
    background-color: #f2c4ef;
}

.purchaseBox {
    font-weight: bold;
}

.checkoutForm input {
    background-color: #384263;
    display: inline-block;
}
